* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px; /* adiciona um pequeno espaço para a linha abaixo */
}

header nav ul li a:hover {
    color: rgb(113, 114, 128); /* muda a cor do texto no hover */
}

header nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* espessura da linha */
    background-color: rgb(113, 114, 128); /* cor da linha */
    transition: width 0.3s ease; /* transição suave para a linha */
}

header nav ul li a:hover::after {
    width: 100%; /* quando passar o mouse, a linha cresce até o tamanho total */
}

section {
    padding: 40px 0;
    flex-grow: 1; 
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.projeto {
    margin: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
