#projetos {
    background-color: #fafafa;
    padding: 40px 0;
}

.projeto {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

.projeto-conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Imagem e descrição em duas colunas */
    gap: 30px;
}

.projeto-imagem img {
    max-width: 100%;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.projeto-imagem img:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Efeito de sombra ao passar o mouse */
}

.projeto-descricao h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-top: 0px;
}

.projeto-descricao p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.projeto-descricao a {
    font-size: 1rem;
    color: #4CAF50;
    text-decoration: none;
}

.projeto-descricao a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .projeto-conteudo {
        grid-template-columns: 1fr; /* Em telas menores, a imagem e a descrição ficam uma embaixo da outra */
    }
}
